---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

Click on the title to read the abstract. You can also find my articles on my 
[ORCID profile](https://orcid.org/0009-0006-8325-6184) or my 
[Google Scholar profile](https://scholar.google.com/citations?user=d9NGcf0AAAAJ&hl=es).

{% if author.googlescholar %}
  You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u>
{% endif %}

{% include base_path %}

{% assign publications_sorted = site.publications | sort: 'date' | reverse %}
{% for post in publications_sorted %}
  {% include archive-single.html %}
{% endfor %}