---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

Click on the title to read the abstract. You can also find my articles on my <a href="https://orcid.org/0009-0006-8325-6184">ORCID profile</a> or my <a href="https://scholar.google.es/citations?user=d9NGcf0AAAAJ&hl=es">Google Scholar profile</a>.

{% include base_path %}

{% assign publications_sorted = site.publications | sort: 'date' | reverse %}
{% for post in publications_sorted %}
  {% include archive-single.html %}
{% endfor %}